a.plain:link
{ color: #333; text-decoration: none }
a.plain:active
{ color: #333; text-decoration: none }
a.plain:visited
{ color: #333; text-decoration: none }
a.plain:hover
{ color: #333; text-decoration: none }

.status-bar {
    height: 60px;
}

.about-icon {
    float: left;
    margin-right: 12px;
}


.postText{
   	width:800px;
   	height:200px;
   	resize:none;
}

.postTitle{
	width:800px;
   	max-width:800px;
}

.commentPost{
	width:499px;
   	height:48px;
   	resize:none;
}

#buttonShowComments{
	margin-left:750px; 
}

#commentButton{
	margin-left:420px;
}
