@charset "utf-8";
/* CSS Document */

	body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	font-weight:12px;
	font-style:normal;
	font-family: Geneva, Arial, Helvetica, sans-serif;
}
#topo{
	background-image:url(../img/fundo-topo.fw.png);
	height:120px;
	}
	.inputLogin {
	height:30px;
	width:200px;
	}
#conteudo{
	background-image:url(../img/bg-div-principal.fw.png);
	}
	
	.inputCadastro {
	
	height:30px;
	width:300px;
	}
#rodape{
	background:#000000;
	}



