<!--<div style="margin-left:40px" class="media" id="comment-effect">-->
<div style="margin-left:40px" class="media">

  <button id='deleteComment' type='button' style="display: <%= displayStyle %>;" class='close' aria-hidden='true'>×</button>

  <a href="#users/<%= authorID %>" class="pull-left">
    <img class="media-object" src="<%= authorPicture %>"  width="32" height="32" style="padding-right:8px">
  </a>
  <div class="media-body">
    <a href="#users/<%= authorID %>"><h5 class="media-heading"><%= authorName %></h5></a>
    <p class="media-heading"><%= text %></p>           
  </div>  
</div>
