<div style="margin-left:40px" class="media" id="comment-effect">
  <button id="deleteComment" type="button" class="close" aria-hidden="true">×</button>
  <a href="#users/<%= authorID %>" class="pull-left">
    <img class="media-object" src="<%= authorPicture %>"  width="32" height="32" style="padding-right:8px">
  </a>
  <div class="media-body">
    <a href="#users/<%= authorID %>"><h5 class="media-heading"><%= authorName %></h5></a>
    <p class="media-heading"><%= text %></p>    
    <!--
    <a href="#" id="deleteComment" style="margin-left:900px" >
     	<img class="media-object" src="../img/glyphicons_free/glyphicons_free/glyphicons/png/glyphicons_016_bin.png"  width="12" height="12" style="padding-right:800px" > 
    </a>
    -->    
  </div>  
</div>
