<ul id="logged-user" class="nav">    	
    <li class="add-menu span3 pull-right"><a href='#users/<%= id %>' ><img width="25" height="25" src="<%= profilePicture %>" style="float:left;"/><b style="padding-left:20px"> <%=name%></b></a></li>
    <li class="divider-vertical"></li>
    <li id="fat-menu" class="dropdown">
      <a href="#" id="drop3" role="button" class="dropdown-toggle" data-toggle="dropdown">Opções<b class="caret"></b></a>
      <ul class="dropdown-menu" role="menu" aria-labelledby="drop3">
        <li role="presentation"><a role="menuitem" tabindex="-1" href="#/users/edit/<%= id %>">Editar Perfil</a></li>        
        <li role="presentation" class="divider"></li>
        <li id="logoutOption" role="presentation"><a role="menuitem" tabindex="-1">Sair</a></li>
      </ul>
    </li>
</ul>                           