<script type="text/javascript">
    //apagar tudo depois - Só pra ilustrar os alertas do sistema
    var us = true;    
    var user = true;

    var changeIconUserNotification = function(){
        var element = document.getElementById("notification");
        if(us){
            element.style.opacity= "1.0";
            us= false;
        }else{
            element.style.opacity= "0.1";
            us=true;
        }
    }
    var changeIconUser = function(){
        var element = document.getElementById("new-user");
        if(user){
            element.style.opacity= "1.0";
            user= false;
        }else{
            element.style.opacity= "0.1";
            user=true;
        }
    }
</script>

<ul id="logged-user" class="nav">
    <li id ="dropdown-user-search" class="dropdown" style="margin-left:50px">
        <form class="navbar-search dropdown-toggle" data-toggle="dropdown">
            <input id="user-search" role="button" type="text" class="search-query span4" placeholder="Encontrar usuário" autocomplete="off">
        </form>
    </li>
    <li id ="message-list" class="dropdown">
        <a role="button" class="dropdown-toggle" data-toggle="dropdown">
            <img id="message" width="32" height="32" style="cursor:pointer; opacity:0.1" src="../img/icons/message3.png">
        </a>        
    </li>      
    <li style="padding-top: 10px;"><img onclick="changeIconUserNotification()" id="notification" width="30" height="30"style="cursor:pointer; opacity:0.1" src="../img/icons/notification3.png">
    </li>
    <li style="padding-top: 12px; padding-right:10px"><img onclick="changeIconUser()" id="new-user" width="29" height="29"style="cursor:pointer; opacity:0.1" src="../img/icons/new-user.png">
    </li>    

    <li class="add-menu pull-right"><a href='#users/<%= id %>' ><img width="25" height="25" src="<%= profilePicture %>" style="float:left;"/><b style="padding-left:20px"> <%=name%></b></a></li>
    <li class="divider-vertical"></li>

    <li id="fat-menu" class="dropdown">
      <a href="#" role="button" class="dropdown-toggle" data-toggle="dropdown">
            <img width="32" height="32" src="../img/icons/exit-option.png">
      </a>
      <ul class="dropdown-menu" role="menu">
        <li role="presentation"><a role="menuitem" tabindex="-1" href="#/users/edit/<%= id %>">Editar Perfil</a></li>      <li role="presentation" class="divider"></li>
        <li id="logoutOption" role="presentation"><a role="menuitem" tabindex="-1">Sair</a></li>
      </ul>
    </li>
</ul>                           