<ul id="logged-user" class="nav"> 
    <li style="padding-top: 9px;"><img style="cursor:pointer" src="../img/glyphicons_free/glyphicons_free/glyphicons/png/glyphicons_124_message_plus.png">
    </li>  
    <li style="padding-top: 10px; padding-left:8px; padding-right:18px"><img style="cursor:pointer" src="../img/glyphicons_free/glyphicons_free/glyphicons/png/glyphicons_006_user_add.png">
    </li>



    <li class="add-menu pull-right"><a href='#users/<%= id %>' ><img width="25" height="25" src="<%= profilePicture %>" style="float:left;"/><b style="padding-left:20px"> <%=name%></b></a></li>
    <li class="divider-vertical"></li>
    <li id="fat-menu" class="dropdown">
      <a href="#" id="drop3" role="button" class="dropdown-toggle" data-toggle="dropdown">Opções<b class="caret"></b></a>
      <ul class="dropdown-menu" role="menu" aria-labelledby="drop3">
        <li role="presentation"><a role="menuitem" tabindex="-1" href="#/users/edit/<%= id %>">Editar Perfil</a></li>        
        <li role="presentation" class="divider"></li>

        <li><a href="#users/page/1"><i></i>Usuários</a></li>
        <li><a href="#posts/page/1"><i></i>Postagens</a></li>
        <li><a href="#posts/new"><i ></i>Nova postagem</a></li>
        <li><a href="#my/posts/page/1"><i ></i>Minhas postagens</a></li>

        <li role="presentation" class="divider"></li>
        <li id="logoutOption" role="presentation"><a role="menuitem" tabindex="-1">Sair</a></li>
      </ul>
    </li>
</ul>                           