<div id='cssmenu'>
	<ul>
		<li>
			<img style="padding-left:10px; padding-top: 40px;" class="media-object" width="62" height="62" src="<%= profilePicture %>">
		</li>
	   	<li class='last'><a href='#'><span>Início</span></a></li>
	   	<li class='last'><a href='#posts/page/1'><span>Postagens</span></a></li>
	    <li class='last'><a href='#my/posts/page/1'><span>Minhas Postagens</span></a></li>
	    <li class='last'><a href='#posts/new'><span>Nova Postagem</span></a></li>
	    <li class='last'><a href='#users/page/1'><span>Usuários</span></a></li>
	    <li class='last'><a ><span>Amigos</span></a></li>
	    <li class='last'><a ><span>Encontrar Amigos</span></a></li>
	   
	   	<li><a href='#'><span>About</span></a></li>
	   	<li class='last'><a href='#'><span>Contact</span></a></li>
	   
	</ul>
</div>


<!--<div>

	<ul id="picMenu">
		<li>
			<img class="media-object" width="62" height="62" src="<%= profilePicture %>">
		</li>

		<li><a href="#users/edit/<%= id %>">Editar Perfil</a></li>

	</ul>
	<br/>

	<ul id="menu">
		<li><a href="#users/page/1">Usuários</a></li>
		<li><a href="#posts/page/1">Postagens</a></li>
		<li><a href="#my/posts/page/1">Minhas Postagens</a></li>
		<li><a href="#posts/new">Nova Postagem</a></li>
	</ul>
</div>-->
