<div class="media">
  <a href="#users/<%= authorID %>" class="pull-left">
    <img class="media-object" src="<%= authorProfilePicture %>"  width="64" height="64" style="padding-right:10px">
  </a>
  <div class="media-body">
    <a href="#users/<%= authorID %>"><h5 class="media-heading"><%= author %></h5></a>
    <h3 class="media-heading"><%= title %></h3>
    <p><%= text %><p>

    <a id="buttonShowComments" class="badge badge-info" href="#posts/<%= id %>" ><%= len %> -
      <% 
        if (len == 0){
            print("Comentar >>");
        }
        else if(len == 1){
            print("Comentario >>");
        }else{          
            print("Comentarios >>");
        }         
      %>
    </a>

  </div>
  
</div>