<div id="post-view" class="row">

	<!--
	<div class="control-group">
		<label>Title</label>
		<input class="postTitle" type="text" id="title" name="title" value="<%= title %>"/>
	</div>
	-->

	<div class="control-group">
		<!--<label>Title</label>-->
		<input class="input-block-level" type="text" id="title" name="title" value="<%= title %>" placeholder="Digite o título da postagem"/>
	</div>

	<div class="control-group">
		<!--<label>Escreva uma mensagem </label>-->
		<textarea class="input-block-level" rows="5" id= "text" name = "text" value="<%= text %>" placeholder="Escreva uma mensagem"></textarea>
		<!--cols="100"-->
	</div>

	<!--
	<div class="control-group">
		<label>Escreva uma mensagem </label>
		<textarea class="postText" id= "text" name = "text" value="<%= text %>"></textarea>
	</div>
	-->

	<div class="form-actions">
        <a href="#posts/page/1" id="postButton" class="btn btn-primary save">Enviar Postagem</a>        
    </div>

    <!--
	<div class="form-actions">
        <a href="" id="postButton" class="btn btn-primary save">Enviar Postagem</a>
        <!--<a href="" id="deletePostButton" class="btn delete">Deletar Postagem</a>
    </div>
	-->
</div>