<div class="row">

    <form class="form-horizontal span12">

        <fieldset>

            <legend id="legend">Detalhes do Usuário</legend>            

            <div class="status-bar">                                                                
                <div class="alert alert-success" style="display: none">
                    <button type="button" class="close" data-dismiss="alert">×</button>
                    <strong>Sucessso!</strong> Usuário salvo corretamente.
                </div>
            </div>

            <div class="row">
                <div class="span9">

                    <div class="control-group">
                        <label for="name" class="control-label">Nome:</label>

                        <div class="controls">
                            <input type="text" id="name" name="name" value="<%= name %>"/>
                            <span class="help-inline"></span>
                        </div>
                    </div>

                    <div class="control-group">
                        <label for="email" class="control-label">E-mail:</label>

                        <div class="controls">
                            <input type="text" id="email" name="email" value="<%= email %>"/>
                            <span class="help-inline"></span>
                        </div>
                    </div>

                    <div class="control-group">
                        <label id="genderInput" for="gender" class="control-label">Gênero:</label>

                        <div class="controls">
                            <select id="gender" name="gender" value="<%= gender %>">
                                <option name=""
                                <%= gender == 1?'selected':'' %>></option>
                                <option name="Masculino"
                                <%= gender == 2?'selected':'' %>>Masculino</option>
                                <option name="Feminino"
                                <%= gender == 3?'selected':'' %>>Feminino</option>
                            </select>
                            <span class="help-inline"></span>
                        </div>
                    </div>

                    <div class="control-group">
                        <label for='birthday' class="control-label">Data de Nascimento:</label>

                        <div class="controls">
                            <input type="date" id = "birthday" name="birthday" value ="<%= birthday %>">
                            <span class="help-inline"></span>
                        </div>
                    </div>

                    <div class="control-group">
                        <label for='passWord' class="control-label">Senha:</label>

                        <div class="controls">
                            <input type="password" id='passWord' name='passWord' value="<%= passWord %>"/>
                            <span class="help-inline"></span>
                        </div>
                    </div>

                    <div class="control-group">
                        <label for="userType" class="control-label">Tipo de Usuário:</label>

                        <div class="controls">
                            <select class="span1" id="userType" name="userType" value="<%= userType %>">
                                <option name=""
                                <%= userType == 1?'selected':'' %>></option>
                                <option name="1"
                                <%= userType == 2?'selected':'' %>>1</option>
                                <option name="2"
                                <%= userType == 3?'selected':'' %>>2</option>
                            </select>
                            <span class="help-inline"></span>
                        </div>
                    </div>                

                </div>

                <div id="div-profile-picture"class="span3">
                    <div class="well">
                        <p><img id="viewProfilePicture"width="180" height = "200" src="<%= profilePicture === '../img/profilePictures/defaultPicture.jpg' ? '../img/profilePictures/defaultPicture.jpg' :  profilePicture %>"/></p>

                        <p>Alterar foto do perfil:<br>
                        <input id="profilePicture" type="file"></p>
                    </div>
                </div>
                
            </div>

        </fieldset>

        <div class="form-actions">
            <a id="user-save" href="#" class="btn btn-primary save">Salvar</a>
            <a id="user-delete" href="#" class="btn delete">Deletar</a>
        </div>

    </form>

</div>